/*
*= require_self
*/

body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  /* background-image: url(../img/grid-18px-masked.png); */
  background-repeat: repeat-x;
  background-position: 0 40px;
}

th.name, td.name {
  text-align: center;
}

td.primary > img {
  width: 32px;
}